<script>
import { ref } from 'vue'
export default {
  props: {
    config:{
      type:Array,
      default:() => ([])
    },
    model:{
      type:Object,
      require:true
    }
  },
  setup(props) {
    const elForm = ref(null);
    const renderChildren = (item) => {
      switch(item.type){
        case 'input':
          return <el-input v-model={props.model[item.prop]} />
        case 'button':
          return <el-button onClick={
            () => {
              item.hanldcClick && item.hanldcClick(elForm);
            }
          }>{item.title}</el-button>
      }
      return <el-input />
    }
    return () => (
      <el-form ref={elForm} >
        {
          props.config.map(item => (
            <el-form-item label={item.label} prop={item.prop} >
              {renderChildren(item)}
            </el-form-item>
          ))
        }
      </el-form>
    )
  }
}
</script>
